<%- include("header.ejs") %>
<main>
    <section class="title">
        <h1 class="title-value"><%- blogArt.title %></h1>
        <h2><%-  blogArt.desc %></h2>
   </section>
   <section class="container-blog">
        <div class="article-blog" id="<%= blogArt.id %>">
            <img src="/<%= blogArt.img %>" alt="life1" loading="lazy">
            <div class="text">
                <h1><%= blogArt.desc %></h1>
                <p class="information"><%= blogArt.information %></p>
            </div>
        </div>
    </section>
    <section class="comments">
        <p>Comments (<%= blogArt.comments.length %>)</p>
        <div class="flex-comment">
            <div class="comment">
                <i class="fa-solid fa-user-astronaut"></i>
                <p class="name">Test test</p>
                <div class="textcomment">adadadad</div>
                <div class="date">adadad</div>
            </div>
        </div>
    </section>
</main>
<%- include("footer.ejs") %>