<%- include("header.ejs") %>
<main>
    <section class="title">
        <h1 class="title-value"><%- blogArt.title %></h1>
        <h2><%-  blogArt.desc %></h2>
   </section>
   <section class="container-blog">
        <div class="article-blog" id="<%= blogArt.id %>">
            <img src="/<%= blogArt.img %>" alt="life1" loading="lazy">
            <div class="text">
                <h1><%= blogArt.desc %></h1>
                <p class="information"><%= blogArt.information %></p>
            </div>
        </div>
    </section>
    <section class="comments">
        <p>Comments (<%= blogArt.comments.length %>)</p>
        <div class="flex-comment">
            <% for(let i=0;i<blogArt.comments.length;i++){%>
            <div class="comment">
                <div class="user">
                    <i class="fa-solid fa-user-astronaut"></i>
                    <p class="name"><%= blogArt.comments[i].userName %></p>
                </div>
                <div class="textcomment">
                    <p><%= blogArt.comments[i].comment %></p>
                </div>
                <div class="date"><%= blogArt.comments[i].date %></div>
            </div>
            <%  }%>
        </div>
    </section>
    <section class="addComment">
        <p>Add your comment</p>
        <form >
            <input type="text" placeholder="Name" required>
            <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Comment" required></textarea>
            <button type="submit" class="btn">Submit</button>
        </form>
    </section>
    <section class="socials">

    </section>
</main>
<%- include("footer.ejs") %>